<!doctype html>
<html>
    <head>
        <style type=text/css>
            img { vertical-align:middle; }
            body   {
                    height: 125vh;
                    margin-top: 10px;
                    padding: 30px;
                    background-size: cover;
                    font-family: sans-serif;
                    }
        </style>
        <title>Contact page</title>
    </head>
    <body>
        <h1> <img src="https://imagizer.imageshack.com/img922/636/oNBuh3.jpg" alt="Projet citoyen Mines sans voiture 2021/2022" height = 150 width = 150 >
            Mines sans voiture système de prêt
        <img src="https://imagizer.imageshack.com/img922/636/oNBuh3.jpg" alt="Projet citoyen Mines sans voiture 2021/2022" height = 150 width = 150 >
        </h1>
        <BLOCKQUOTE>
            <BLOCKQUOTE>
                <blockquote>
                    <p> Contact : johan.haramboure@etu.emse.fr </p>
                </blockquote>
            </BLOCKQUOTE>
        </BLOCKQUOTE>
    </body>

</html>