<!doctype html>
<html>
    <head>
        <style>
            img {
  vertical-align:middle;
}
        </style>
        <title>Home page</title>
    </head>

        <script type='text/javascript' src='//code.jquery.com/jquery-1.9.1.js'></script>
   
   
   
  <style type='text/css'> 
  </style>
   
 
 
<script type='text/javascript'>//<![CDATA[
$(window).load(function(){
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
             
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
             
            reader.readAsDataURL(input.files[0]);
        }
    }
     
    $("#imgInp").change(function(){
        readURL(this);
    });
});//]]> 
 
</script>
 

    <body>
        <h1>
            <a href="/">
                <img src="https://imagizer.imageshack.com/img922/636/oNBuh3.jpg" alt="Projet citoyen Mines sans voiture 2021/2022" height = 150 width = 150 >
            </a>
            Mines sans voiture système de prêt
            <a href="/">
            <img src="https://imagizer.imageshack.com/img922/636/oNBuh3.jpg" alt="Projet citoyen Mines sans voiture 2021/2022" height = 150 width = 150 >
            </a>
        </h1>
        <BLOCKQUOTE>
            <BLOCKQUOTE>
                <blockquote>
                    <p><I> Veuillez renseigner <B> une photo </B> du vélo avant de le rendre ainsi que les informations de la réservation </I></p>
                </blockquote>
            </BLOCKQUOTE>
        </BLOCKQUOTE>
    </body>

{% block content %}
<form action="#" method="post" enctype="multipart/form-data">
        <BLOCKQUOTE>
            <BLOCKQUOTE>
                <blockquote>

                    <p><B>Nom:</B></p>
                    <p><input type="text" name="nm" /></p>
                    <p><B>Prénom:</B></p>
                    <p><input type="text" name="pm" /></p>
                    <p><B>Date de réservation (jj/mm/aaaa):</B></p>
                    <p><input type="date" id="start" name="dt" value="<?php echo date('Y-m-d'); ?>" min="<?php echo date('Y-m-d'); ?>" max="2022-6-30"></p>
                    <p><B>Numéros de vélo:</B></p>
                    <p><input type="text" name="bn" /></p>
                    <p><input type="file" name="image" accept="image/*" capture /></p>
                    <p><input type="submit" value="envoyer" /></p>

                </blockquote>
            </BLOCKQUOTE>
        </BLOCKQUOTE>
</form>

 
{% endblock %}
</html>
