<!doctype html>
<html>
    <head>
        <style>
            img {
  vertical-align:middle;
}
        </style>
        <title>Home page</title>
    </head>
    <body>
        <h1> <img src="https://imagizer.imageshack.com/img922/636/oNBuh3.jpg" alt="Projet citoyen Mines sans voiture 2021/2022" height = 150 width = 150 >
            Mines sans voiture système de prêt
        <img src="https://imagizer.imageshack.com/img922/636/oNBuh3.jpg" alt="Projet citoyen Mines sans voiture 2021/2022" height = 150 width = 150 >
        </h1>
        <BLOCKQUOTE>
            <BLOCKQUOTE>
                <blockquote>
                    <p><I> Veuillez renseigner <B> une photo </B> du vélo avant de le rendre ainsi que les informations de la réservation </I></p>
                </blockquote>
            </BLOCKQUOTE>
        </BLOCKQUOTE>
    </body>

{% block content %}
<form action="index.php" method="post" enctype="multipart/form-data">
        <BLOCKQUOTE>
            <BLOCKQUOTE>
                <blockquote>

                    <p><B>Nom:</B></p>
                    <p><input type="text" name="nm" /></p>
                    <p><B>Prénom:</B></p>
                    <p><input type="text" name="pm" /></p>
                    <p><B>Date de réservation (jj/mm/aaaa):</B></p>
                    <p><input type="date" id="start" name="dt" value="2022-04-15" min="2022-01-01" max="2022-6-31"></p>
                    <p><input type="file" name="image" accept="image/*" capture /></p>
                    <p><input type="submit" value="envoyer" /></p>

                </blockquote>
            </BLOCKQUOTE>
        </BLOCKQUOTE>
</form>

{% endblock %}
</html>
